/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.cdnfonts.com/css/miama-nueva");

@font-face {
  font-family: "Miama Nueva";
  font-style: italic;
  font-weight: 400;
  src: local("Miama Nueva"),
    url("https://fonts.cdnfonts.com/s/31928/miamanueva.woff") format("woff");
}
.miama {
  font-family: "Miama Nueva";
  font-weight: 100;
}
/* Universal styles */
* {
  margin: 0;
  padding: 0;
}
/* Shared styles */
.navbar,
.banner,
.habits,
.meet {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
.display-flex {
  display: flex;
}
.text-primary {
  color: rgb(255, 255, 255);
}
.text-secondary {
  color: rgba(255, 255, 255, 0.5);
}
.text-orange {
  color: rgb(230, 83, 60);
}
.btn-orange {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
  margin: 1.75rem 0;
  margin-right: 0.9rem;
}
.heading-1 {
  padding: 0.88rem 0;
  font-size: 3rem;
  font-weight: 900;
}
.bg-dark {
  background-color: rgb(0 0 0);
}
.calculator-title-container,
.meet-title-container {
  width: 50%;
  margin: 5rem auto;
}
/* Header styles */
.header-bg {
  background: linear-gradient(rgb(0 0 0), rgb(41 41 41), rgb(0 0 0));
}
/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.brand {
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}

.nav-link {
  text-decoration: none;
}
.selected-nav-item {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 0.5rem 1.25rem;
}
.nav-item {
  list-style: none;
  margin-right: 50px;
  font-size: 1.15rem;
}
.burger-menu-icon {
  display: none;
  color: white;
  font-size: 1.5rem;
}

/* Banner styles */
.banner {
  gap: 180px;
}
.banner-text {
  width: 50%;
}
.banner-title {
  font-size: 4.8rem;
  font-weight: 900;
  margin: 1.75rem 0;
}
.banner-description {
  font-size: 1rem;
  width: 80%;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
.btn-black {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  border-radius: 42px;
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  margin: 1.75rem 0;
  margin-right: 0.9rem;
}
.banner-img-container {
  position: relative;
}
.badge1 {
  position: absolute;
  top: 418px;
  left: -122px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  width: 12.9rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  backdrop-filter: blur(20px);
  background-color: rgba(48, 48, 48, 0.54);
}
.badge1 > .ball {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}
.play-icon {
  display: none;
  color: white;
}
.badge1-heading {
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}
.badge1-p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
}
.badge2 {
  position: absolute;
  top: 124px;
  left: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.15rem;
  width: 12rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
}
.badge2-heading {
  font-size: 2.5rem;
  font-weight: 900;
}
.badge2-p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.82rem;
}
/* Change Your Habits styles */
.habits {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.habits-title-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3.35rem;
}
.habits-title-container > div {
  line-height: 1.5rem;
}
.habits-img-container {
  gap: 2.5rem;
}
.image {
  text-align: center;
}
.image > img {
  border-radius: 50%;
}
.image > h4 {
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
}
.image > p {
  line-height: 1.15rem;
}
/* Run Extra Mile styles */
.run {
  max-width: 1440px;
  margin: 0 auto;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.15rem;
  gap: 10.3rem;
  background-color: rgb(34, 34, 34);
}

.run-title-container {
  width: 50%;
  padding: 1.5rem 0 0 3rem;
}
.run-img-container {
  padding: 1.88rem 1.88rem;
}
.run-img-container > img {
  width: 366px;
  height: 300px;
  object-fit: none;
  object-position: 68% 30%;
  border-radius: 1.15rem;
}
/* BMI Calculator styles */

.calculator {
  padding: 0 11.7rem;
  background-color: rgb(34, 34, 34);
  gap: 11rem;
}
.calculate-BMI {
  width: 50%;
}
.BMI-heading-1 {
  font-size: 1.75rem;
  font-weight: 900;
  padding: 3.25rem 0;
}
.BMI-heading-2 {
  font-size: 1.75rem;
  font-weight: 900;
  padding: 3.25rem 0 0.88rem;
}
.BMI-p-2 {
  padding-bottom: 2rem;
}
table,
th,
td {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
th,
td {
  padding: 10px 20px;
  text-align: left;
}
input {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.75rem 2.5rem 0.75rem 1.25rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  border-style: solid;
  background: rgba(255, 255, 255, 0.1);
}
#Gender,
#Activity {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.75rem 8.3rem 0.75rem 1.25rem;
  margin-right: 0rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.1);
}
#Activity {
  padding-right: 17.7rem;
  margin-bottom: 0;
  border-style: solid;
}
/* Meet styles */
.meet-title-container {
  text-align: center;
}
.trainer-img-container {
  padding: 20px;
  padding-bottom: 5px;
  margin-bottom: 5rem;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
}
.row {
  gap: 20px;
  margin-bottom: 20px;
}
.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6 {
  width: calc((100% - 40px) / 3);
  height: 272px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.15rem;
}
.trainer1 {
  background-image: url("../images/trainer1.png");
}
.trainer2 {
  background-image: url("../images/trainer2.png");
}
.trainer3 {
  background-image: url("../images/trainer3.png");
}
.trainer4 {
  background-image: url("../images/trainer4.png");
}
.trainer5 {
  background-image: url("../images/trainer5.png");
}
.trainer6 {
  background-image: url("../images/trainer6.png");
}

/*Responsive style for Small device */
@media screen and (max-width: 576px) {
  /* Nav styles */
  .navbar {
    padding: 50px 20px 30px;
  }
  .nav-item {
    display: none;
  }
  .burger-menu-icon {
    display: inline-block;
  }
  /* Banner styles */
  .banner {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }
  .banner-text {
    width: 100%;
  }
  .banner-title {
    font-size: 2.25rem;
    margin: 1.75rem 0 1.75rem 0;
  }
  .btn-orange {
    padding: 1rem 2.5rem;
    margin-right: 0.85rem;
  }
  .hide {
    display: none;
  }
  .btn-black {
    padding: 1rem 2rem;
    margin-right: 0;
  }
  .banner-description {
    width: 80%;
  }
  .ball {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-icon {
    display: inline-block;
  }
  .banner-img-container {
    margin: 0 auto;
  }
  .badge1 {
    position: absolute;
    top: 246px;
    left: -46px;
  }
  .badge2 {
    position: absolute;
    top: 42px;
    left: 197px;
  }
  /* Change Your Habits styles */
  .habits {
    padding: 0 20px 60px;
  }
  .habits-title-container {
    width: 100%;
  }
  .heading-1 {
    font-size: 2rem;
  }
  .habits-img-container {
    flex-direction: column;
    padding: 0 40px;
  }
  /* Run Extra Mile styles */
  .run {
    flex-direction: column;
    margin: 0 20px 0;
    gap: 0;
  }
  .run-title-container {
    width: 80%;
    padding: 30px;
  }
  .response {
    padding: 1rem 7.5rem;
  }
  .run-img-container {
    padding: 0 1.88rem 0;
  }
  .run-img-container > img {
    object-fit: contain;
    object-position: 0% 0%;
    border-radius: 1.15rem;
  }
  /* BMI Calculator styles */
  .calculator-title-container {
    width: 80%;
    margin: 2.5rem auto;
  }
  .calculator {
    flex-direction: column;
    padding: 0 2.5rem;
    background-color: rgb(34, 34, 34);
    gap: 20px;
  }
  .BMI-heading-1,
  .BMI-heading-2 {
    font-size: 1rem;
    font-weight: 900;
    padding: 34px 0 23px;
  }
  .calculate-BMI {
    width: 100%;
  }
  input {
    padding: 0.75rem 0.1rem 0.75rem 1.25rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 8px;
  }
  #Gender,
  #Activity {
    padding: 0.75rem 5.9rem 0.75rem 1.25rem;
  }
  #Activity {
    padding-right: 13rem;
  }
  /* Meet styles */
  .meet-title-container {
    width: 80%;
    margin: 2rem auto;
  }
  .meet {
    padding: 20px;
  }
  .row {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }
  .trainer1,
  .trainer2,
  .trainer3,
  .trainer4,
  .trainer5,
  .trainer6 {
    margin: 20px 0;
    width: 100%;
    height: 272px;
  }
}
